.contact-title{
    font-family: 'DM Serif Display';
    text-align: center;
    font-size: clamp(16px, 2.2vw, 40px);
    // font-weight: bold;
    color: #08b1ff;
}

.contact{
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito';
    font-size: clamp(12px, 1.4vw, 24px);
    font-weight: 300;

    p{
        max-width: 560px;
        text-align: center;
        margin: 10px auto;
    }
}

#contact{
    padding-top:40px;
}

.contact-social{
    font-size:22px;
    // margin-top:30px;
    margin: 30px auto;
    width: fit-content;

    svg{
        margin: 0 10px;
        color:$my-yellow;
        cursor: pointer;

        &:hover{
            color: $my-blue
        }
    }
}

@media (max-width: 768px) {
    #contact {
      padding-top: 0;
    }
  }