.intro-container{
  display: flex;
  align-items: center;;
}

.name-is{
    margin-bottom: 10px;
    color: $my-yellow;
    // font-family: 'Playfair Display';
    font-family: 'Syne Mono';
    font-size: 12px;
}

.build-things, .intro-name{
    font-size:clamp(30px, 4.5vw, 100px);
    color: #fff;
    font-family: 'DM Serif Display';
}

.summary{
    width: 80%;
    line-height: 1.5;
    // margin: 20px 0;
    // color: $my-red;
    font-size:clamp(12px, 1.6vw, 30px);
    font-family: 'Nunito','Playfair Display';
    font-weight: 300;
    // font-family: 'No Regrets';
}

.get-in-touch{
    display: block;
    width: fit-content;
    font-size:16px;
    font-family: 'Syne Mono';
    cursor: pointer;
    color: $my-yellow;
    background-color: transparent;
    border: 1px solid $my-yellow;
    border-radius: 4px;
    padding: 20px 28px;
    text-decoration: none;
    // cursor: pointer;
    // transition: var(--transition);
    margin-top: 10px;
    // transition: all .2s ease-in-out;
    
    &:hover {
      animation: shake 0.82s cubic-bezier(0, 1.43, 1, -0.17) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      border-color: $my-blue;
      color: $my-blue;
    }
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.intro-container {
    height: 100vh;
    
  }

  @media (max-width: 768px) {
    .intro-container {
      height: auto;
    }
  }
  @media (max-width: 768px){
    .intro-container{
      padding-top: 105px;
    }
    .summary{
      width:auto;
    }
    .get-in-touch{
      font-size: 10px;
      padding: 12px 16px;
    }
  }

