.name-is{
    margin-bottom: 10px;
    color: $my-yellow;
    // font-family: 'Playfair Display';
    font-family: 'Syne Mono';
}

.build-things{
    font-size:clamp(38px, 8vw, 80px);
    color: $my-blue;
    font-family: 'No Regrets';
}

.summary{
    max-width: 888px;
    line-height: 1.5;
    margin: 20px 0;
    // color: $my-red;
    font-size:18px;
    font-family: 'Nunito','Playfair Display';
    font-weight: 300;
    // font-family: 'No Regrets';
}

.get-in-touch{
    display: block;
    width: fit-content;
    font-size:14px;
    font-family: 'Syne Mono';
    cursor: pointer;
    color: $my-yellow;
    background-color: transparent;
    border: 1px solid $my-yellow;
    border-radius: 5px;
    padding: 20px 28px;
    // font-size: var(--fz-sm);
    // font-family: var(--font-mono);
    // line-height: 1;
    text-decoration: none;
    // cursor: pointer;
    // transition: var(--transition);
    margin-top: 30px;
    // transition: all .2s ease-in-out;
    
    &:hover {
      animation: shake 0.82s cubic-bezier(0, 1.43, 1, -0.17) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.intro-container {
    padding-top: 125px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .intro-container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .intro-container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .intro-container {
      width: 1170px;
    }
  }


