.technologies{
    font-family: 'Nunito','Playfair Display';
    font-weight: 300;
    font-size: clamp(12px, 1.4vw, 30px);

    span{
        color:$my-yellow
    }

}

.tech-title{
    font-size: clamp(16px, 1.6vw, 30px);
    font-family: 'DM Serif Display';
}