@font-face {
    font-family: "Sheila Crayon";
    src: url("../assets/fonts/sheilacrayon-webfont.woff2");
  }


  @font-face {
    font-family: "No Regrets";
    src: url("../assets/fonts/KgNoRegretsSketch-5rKZ.ttf");
  }