.project-contain{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 20px 0 70px 0;

    @media (max-width:768px) {
        grid-template-columns: auto;
    }
}

.project-content{
    grid-area: 1 / 1 / -1 / 7;
    grid-column: 7/-1;
    z-index: 3;
    text-align: right;

    @media (max-width:1080px) {
        grid-column: 5/-1;
    }

    // @media (max-width:768px) {
    //     grid-column: 1 / -1;
    //     padding: 40px 40px 30px;
    // }

    @media (max-width:768px) {
        grid-area: auto;
        grid-column: auto;
        padding: 0px;
        text-align: left;
    }
}

.project-image{
    grid-area: 1 / 6 / -1 / -1;
    grid-column: 1/8;
    width: 100%;
    position: relative;
    transition: all .5s ease-in-out;

    &:hover{
        transform: scale(1.05)
    }

    @media (max-width:768px) {
        grid-column: 1 / -1;
        // padding: 40px 40px 30px;
        &:hover{
            transform: scale(1)
        }
    }



    img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        // object-position: center center;
        max-height: 430px;
        width: 100%;
        object-position: top;
    }
}

// .project-image a::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     right: 0px;
//     bottom: 0px;
//     z-index: 2;
//     transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
//     // background-color: #5a5500;
//     mix-blend-mode: screen;

    
// }

// .project-image a :hover{
//     ::before{
//         background-color: transparent;
//     }
    
// }

.project-image .img {
    border-radius: 4px;
    mix-blend-mode: multiply;
    // filter: grayscale(100%) contrast(1) brightness(90%);
    filter: brightness(0.9) blur(0.5px);

    @media (max-width:768px) {
        object-fit: cover;
        // width: auto;
        // height: 100%;
        // filter: none;
        filter: none;

        
    }

    &:hover{
        filter: none;
    }
}

.project-overline {
    margin: 10px 0px;
    color: $my-yellow;
    font-family: 'Syne Mono';
    // font-size: var(--fz-xs);
    font-weight: 400;
}

.project-title {
    // color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
    // color: $my-blue;
    // font-family: 'Playfair Display';;
    font-family: 'Playfair Display';
    margin: 0 0 20px;

    @media (max-width: 768px){
        margin: 0 0 10px;
    }
}

.project-description {
    box-shadow: 0 10px 30px -15px #020c1bb3;
    // transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #021426;
    color: aqua;
    // font-family: 'Playfair Display';
    font-family: 'Nunito','Playfair Display';
    font-weight: 300;

    @media (max-width: 768px){
        // background-color: transparent;
        padding: 15px;
    }
    // color: $back-black;
    // font-weight: bold;
    // font-size: var(--fz-lg);
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: $my-blue;

    @media (max-width: 768px) {
        margin: 10px 0;
    }

    li{
        margin: 0px 0px 5px 20px;
        // color: $my-blue;
        font-family: 'Syne Mono';
        // font-size: var(--fz-xs);
        white-space: nowrap;
        background: #000;
        padding: 5px;
        border-radius: 4px;

        @media (max-width: 768px) {
            margin: 0px 0px 5px 10px;
        }
    }
}

.project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;

    svg{
        margin:10px;
        color: $my-yellow;

        &:hover{
            color: $my-blue
        }
    }
}