@import "./variables";
@import "./typography";
@import "./intro";
@import "./nav";
@import "./technologies";
@import "./work";
@import "./contact";


body{
  color: #ffffff;
  font-family: 'Nunito', 'Playfair Display', serif;
  background: #000;
  // background-color: #030019;
  // background:url('../images/blackboard-2.jpg');
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}

*{
  box-sizing: border-box;
}


main{
  margin:0 100px
}
@media(max-width:900px){
    main{
      margin:0 20px
    }
}


.planets {
  text-align: center;
  margin: 4rem 0;
  position: fixed;
  top: 0;
  /* left: 29%; */
  z-index: -2;
}

.stars{
  stroke: yellow;
   stroke-width: 1;
  animation: twinkle 12s linear infinite;
}

.star0{
  @extend .stars;
  animation-delay: 0s;
  animation-duration: 6s;
}

.star1{
  @extend .stars;
  animation-delay: 1s;
  animation-duration: 5s;
}

.star2{
  @extend .stars;
  animation-delay: 2s;
  animation-duration: 4s;
}

.star3{
  @extend .stars;
  animation-delay: 3s;
  animation-duration: 3s;
}

.star4{
  @extend .stars;
  animation-delay: 4s;
  animation-duration: 2s;
}

.star5{
  @extend .stars;
}

@keyframes twinkle {
  0% {opacity: 1;}
  50% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes rotate {
	0% {transform: rotate(10deg);}
	50% {transform: rotate(20deg);}	
	100% {transform: rotate(10deg);}
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: white;
}
a:active,
a:hover {
  outline-width: 0;
}


.star {
  fill: $my-yellow;
  animation: pulse var(--star-animation-duration, 1000ms) infinite backwards,
    glowing var(--star-animation-glow-duration, 1000ms) infinite alternate backwards;
  animation-delay: var(--star-animation-delay, 0);
}

.star-parallax {
  transform: translate(0, calc(-1px * var(--translateScrollY) * var(--parallax-intensity, 200) * 1/var(--parallax-depth, 1) ));
transition: transform .1s;
will-change: transition;
}

.shooting-star {
  fill: $my-yellow;
  transform-origin: 125px 0;
  animation: 5s orbitAnimation infinite linear, 5s shootStarGlow infinite;
}

#svgCanvas {
  height: 200vh;
}


// body {
//   margin: 0;
//   background-color: #202840;
// }

#btnDebug {
  position: fixed;
  z-index:1;
  top: 10px;
  left: 10px;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  70% {
    transform: scale3d(0.2, 0.2, 0.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes glowing {
  0% {
    opacity: var(--star-brightness, 1);
  }

  100% {
    opacity: calc(var(--star-brightness, 1) * 0.5);
  }
}

@keyframes orbitAnimation {
  0% {
    transform: translate(-125px, 0) rotate3d(0, 0, 1, 360deg);
  }
  100% {
    transform: translate(-125px, 0) rotate3d(0, 0, 1, 270deg);
  }
}


@keyframes shootStarGlow {
  0% {
    opacity: 0
  }

  50%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


//loader




.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 800px;

}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid $my-red;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid $my-blue;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid $my-yellow;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.fade-out {
  animation: fadeOut ease 4s;
  -webkit-animation: fadeOut ease 4s;
  -moz-animation: fadeOut ease 4s;
  -o-animation: fadeOut ease 4s;
  -ms-animation: fadeOut ease 4s;
  animation-fill-mode: forwards
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  animation-fill-mode: forwards
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


